/* Style Sheet for the Grade Calculator*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {}

body {
    background-image: url("images/1176282.jpg");
    background-size: 100%;
    background-repeat: space;
    min-width: 400px;

}

#int_col_left {
    float: left;
    width: 20%;
}

#title {
    text-align: center;
}

#int_col_right {
    float: right;
    width: 20%;
}

#omg1,
#omg2 {
    width: 150%;
    alignment: center;
    position: relative;
    overflow: no-display;
    z-index: 1;
}

#omg1 {
    left: 20px;
}

#omg2 {
    right: 180px;

}

.content {

    width: 100%;
    align-content: center;
}

.main {
    width: 100%;
    align-items: center;
    position: relative;

}

h1 {
    font-family: "Javanese Text", sans-serif;
    font-size: 3em;
    color: rgb(255, 198, 198);
    line-height: 1.2em;
    text-shadow: white;
    width: 100%;
    text-align: center;
}

p {
    font-family: Leelawadee, "Lucida Sans", sans-serif;
    font-size: 1.4em;
    color: floralwhite;
}

.content h1,
p {
    position: relative;
    text-align: center;

}

#col_left {
    float: left;

}

#col_right {
    float: right;
}

#grades {
    width: 450px;
    min-width: 450px;
    max-width: 450px;
}

#gradesCustom {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
}

#col_left,
#col_right {
    border: 2px solid whitesmoke;
    width: 24.5%;
    display: block;
    position: relative;
    visibility: hidden;
    content: "\00A0";

}

#error {
    font-size: 1.3em;
    color: whitesmoke;
    text-align: center;
    background-color: #640202;
    margin-top: 1%;
    margin-bottom: 1%;
    alignment: center;
    width: auto;
}

fieldset {
    border: none;
}

label {
    width: 75%;
    float: left;
    text-align: left;
    padding-left: 5%;
}


form {
    font-family: Leelawadee, "Lucida Sans", sans-serif;
    font-size: 1.3rem;
    margin-top: 5%;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    background-color: rgb(217, 198, 198);
    border: #362821 2px solid;
    width: 25%;
    overflow: hidden;
    min-width: 400px;
}

.units {
    font-family: Leelawadee, "Lucida Sans", sans-serif;
    font-size: 1.3rem;
    padding: 20px 20px;
    margin: 1%;
    display: grid;
    text-align: center;
    background-color: rgb(217, 198, 198);
    border: #362821 2px solid;
    min-width: 20%;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.home {
    font-family: Leelawadee, "Lucida Sans", sans-serif;
    font-size: 1.3rem;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    background-color: rgb(217, 198, 198);
    width: 200px;
    overflow: hidden;
    min-width: 200px;
}

#menu {
    min-width: 20%;
    align-items: center;
    text-align: center;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 150px 150px 150px 150px;

}

button {
    cursor: pointer;
    display: inline-block;
    width: 200px;
}

.cust_out_of {
    left: 295px;
    position: relative;
    width: 3%;
    float: left;
    height: 20%;
}

.out_of {
    left: 320px;
    position: relative;
    width: 3%;
    float: left;
    height: 20%;

}

.input_box {
    width: 85px;
    position: relative;
    float: left;
    left: 310px;
    height: 20%;
}

.cust_input_box {
    width: 60px;
    position: relative;
    float: left;
    left: 290px;
    height: 20%;
}

.input {
    width: 30px;
}

.input_oFA,
.input_oFEx {
    width: 30px;
    position: relative;
    padding: none;
    float: left;
    left: 300px;
    height: 20%;

}

.a_label {
    font-size: 1.1rem;
    position: relative;
    float: left;
    right: 90px;
}

.input_weight {
    width: 63px;
    position: absolute;
    float: right;
    height: 70%;
    left: 475px;
}

.infoLabel {
    text-align: center;
    width: 100%;
    padding-left: 0;
}

#custom {
    margin-top: 15%;
    width: 400px;
}

.cust_assignment {
    font-size: 1.1rem;
    float: left;
    position: relative;
    right: 110px;
}


a {
    text-decoration: none;
    margin: 1%;
    display: inline-block;
}

.hidden {
    display: none;

}

.results {
    margin-top: 1%;
    text-align: center;
    font-size: 2em;
    color: black;
    background-color: rgba(255, 210, 210, 0.9);
}

.button {
    margin-top: 3%;
    font-size: 1.5rem;
    background-color: bisque;
    width: 40%;
    font-family: Leelawadee, "Lucida Sans", sans-serif;

}

input[type="reset"] {
    margin-left: 2%;
}

input[placeholder="enter a number"] {
    font-size: 0.8rem;
}

.homeButton {
    font-family: Leelawadee, "Lucida Sans", sans-serif;
    font-size: 1.3rem;
    padding: 15px 15px;

    text-align: center;
    position: relative;
    display: block;
    background-color: rgba(255, 198, 198, 0.411);


}

@media only screen and (max-width: 1800px) {

    #omg1,
    #omg2 {
        display: none;
    }

    p,
    form,
    label {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        background-size: 120%;
        background-repeat: no-repeat;

    }

}


@media only screen and (max-width: 1000px) {

    #omg1,
    #omg2 {
        display: none;
        visibility: hidden;
    }

    body {
        background-size: 150%;
        background-repeat: no-repeat;

    }

}

@media only screen and (max-width: 800px) {

    #omg1,
    #omg2 {
        display: none;
        visibility: hidden;
    }

    body {
        background-size: 180%;
        background-repeat: no-repeat;

    }

}

@media only screen and (max-width: 672px) {

    #omg1,
    #omg2 {
        display: none;
        visibility: hidden;
    }

    p,
    form,
    label {
        font-size: 1rem;
    }

    .homeButton {
        padding: 4px 4px;
    }

    body {
        background-size: 250%;
        background-repeat: space;
        overflow: auto;

    }
}

@media only screen and (max-width: 480) {

    .home,
    .homeButton {
        width: 100%;

    }

    #omg1,
    #omg2 {
        display: none;
        visibility: hidden;
    }


    body {
        background-size: 350%;
        background-repeat: space;
        overflow: auto;
    }
}