/* Style Sheet for the Grade Calculator*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {}

body {
    background-image: url("images/1176282.jpg");
    background-size: 120%;
    background-repeat: space;
    min-width: 400px;
    overflow-y: auto;
    overflow-x: hidden;

}

#int_col_left {
    float: left;
    width: 20%;
}

#title {
    text-align: center;
    padding-bottom: 10px;
}

#int_col_right {
    float: right;
    width: 20%;
}

#omg1,
#omg2 {
    width: 150%;
    height: 250px;
    alignment: center;
    position: relative;
    overflow: no-display;
    z-index: 1;
}

#omg1 {
    left: 20px;
}

#omg2 {
    right: 180px;

}

.content,
.main {
    position: relative;
    width: 100%;
    align-content: center;
    align-items: center;
}



#title,
#mainTitle,
.title_units {
    font-family: "Javanese Text", sans-serif;
    color: rgba(197, 197, 197, 0.863);
    width: 100%;
    text-align: center;
}

#mainTitle {
    margin-top: 20%;
    line-height: 2rem;
    font-style: italic;
    font-size: 5.4rem;
    white-space: nowrap;
}

#title {
    position: relative;
    font-size: 5.3rem;
    margin-bottom: 2%;
    line-height: 3.5rem;
    right: 3%;
    margin-top: 6%;
    font-style: italic;
}

.title_units {
    position: relative;
    font-size: 5.3rem;
    margin-bottom: 2%;
    line-height: 3.5rem;
    right: 3%;
    margin-top: 6%;
    font-style: italic;
    white-space: nowrap;
}

p {
    font-family: Leelawadee, "Lucida Sans", sans-serif;
    font-size: 1.4em;
    color: floralwhite;
    line-height: 1rem;
    text-align: center;

}

#strip {
    position: relative;
    height: 125px;
    width: 110%;
    right: 3%;
    background-color: #00000071;

}

.strip {
    height: 40px;
    position: relative;
    width: 110%;
    right: 3%;
    background-color: #000000b4;
    margin-bottom: 4%;

}




#description {
    width: 100%;
    position: relative;
    align-self: center;
    margin-top: -1.4%;
    line-height: 1.6rem;
}

.content h1,
p {
    position: relative;
    text-align: center;

}

#col_left {
    float: left;

}

#col_right {
    float: right;
}

#grades {
    margin-top: 2%;
    width: 450px;
    min-width: 450px;
    max-width: 450px;
    border-radius: 20px;
    background-color: #d6cbcbd8;

    align-items: center;
    padding-bottom: 1%;
    padding-bottom: 0.3%;
}


#gradesCustom {
    margin-top: 0;
    width: 500px;
    min-width: 500px;
    max-width: 500px;
    border-radius: 10px;
    background-color: #d6cbcbd8;
    display: grid;
    align-items: center;
    padding-bottom: 1%;
    padding-bottom: 0.3%;
}

#questionairre {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
}

#col_left,
#col_right {
    border: 2px solid whitesmoke;
    width: 24.5%;
    display: block;
    position: relative;
    visibility: hidden;
    content: "\00A0"
}

#error {
    font-size: 1.3em;
    color: whitesmoke;
    text-align: center;
    background-color: #640202;
    margin-top: 1%;
    margin-bottom: 1%;
    alignment: center;
    width: auto;
}

fieldset {
    border: none;
}

label {
    width: 75%;
    float: left;
    text-align: left;
    padding-left: 5%;
}


form {
    font-family: Leelawadee, "Lucida Sans", sans-serif;
    font-size: 1.3rem;
    margin-top: 5%;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    background-color: rgb(217, 198, 198);
    border: #362821 2px solid;
    width: 25%;
    overflow: hidden;
    min-width: 400px;
}

.create,
.find {
    font-family: Leelawadee, "Lucida Sans", sans-serif;
    font-size: 1.3rem;
    padding: 20px 20px;
    margin: 1%;
    display: grid;
    text-align: center;
    background-color: rgba(243, 243, 243, 0.842);
    border: #362821 2px solid;
    min-width: 20%;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    transition: transform 600ms;
}

.units {
    height: 68px;
    font-family: Leelawadee, "Lucida Sans", sans-serif;
    font-size: 1.3rem;
    padding-top: 20px;
    margin: 1%;
    display: grid;
    text-align: center;
    background-color: rgba(226, 226, 226, 0.7);
    border: #362821 2px solid;
    min-width: 20%;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    transition: transform 1000ms;
}

.units:hover {
    background-color: rgba(58, 58, 58, 0.712);
    color: white;
    height: 140px;
    transform: translateY(-5px);
    transition: height 1s;
}

.unitDesc {
    font-size: 1rem;
    text-align: center;
    color: white;
    padding-top: 2%;
}

.find:hover {
    background-color: rgba(58, 58, 58, 0.712);
    color: white;
    width: 260px;
    font-size: 1.4rem;
    transform: translateY(-10px);
    white-space: nowrap;
}

.custom_home,
.home {
    font-family: Leelawadee, "Lucida Sans", sans-serif;
    font-size: 1.3rem;
    transition: transform 600ms;
    background-color: rgba(170, 133, 133, 0.938);
    height: 68px;
    width: 10%;
    margin-left: 40%;
    margin-right: 40%;
    border: #362821 2px solid;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin-top: 0.5%;
    min-width: 20%;
}

.home {
    margin-top: 1.4%;
}

.homeButton {
    display: grid;
    position: relative;
    align-items: center;
    align-self: center;
    width: 100%;
    align-content: center;
    transition: transform 600ms;

}



.custom_home:hover {
    background-color: rgba(151, 121, 121, 0.678);
    font-size: 1.3rem;
    transform: translateY(-10px);
    color: white;
}

#menu {
    min-width: 20%;
    align-items: center;
    text-align: center;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 150px 150px 150px 150px;

}

button {
    cursor: pointer;
    display: inline-block;
    width: 200px;
}

button:hover {
    background-color: rgba(226, 205, 205, 0.719);
}

#custom {
    margin-top: 15%;
    width: 250px;
    background-color: rgba(170, 133, 133, 0.938);
    color: #000000;
}

#back {
    margin-top: 15%;
    align-self: center;
    width: 310px;
    background-color: rgba(170, 133, 133, 0.938);
    color: #000000;
    height: 68px;
    font-family: Leelawadee, "Lucida Sans", sans-serif;
    font-size: 1.3rem;
    padding-top: 20px;
    display: grid;
    text-align: center;
    border: #362821 2px solid;
    min-width: 20%;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    position: relative;
    transition: transform 600ms;
}

#custom:hover {
    background-color: rgba(119, 88, 88, 0.719);
    color: white;
    width: 260px;
    font-size: 1.4rem;
    transform: translateY(-10px);
    white-space: nowrap;

}

#back:hover,
.home:hover {
    background-color: rgba(119, 88, 88, 0.719);
    color: white;
    font-size: 1.4rem;
    transform: translateY(-10px);
    white-space: nowrap;

}

.cust_out_of {
    left: 295px;
    position: relative;
    width: 3%;
    float: left;
    height: 20%;
}

.out_of {
    left: 320px;
    position: relative;
    width: 3%;
    float: left;
    height: 20%;

}

.input_box {
    width: 85px;
    position: relative;
    float: left;
    left: 310px;
    height: 20%;
}

.cust_input_box {
    width: 60px;
    position: relative;
    float: left;
    left: 290px;
    height: 20%;
}

.input {
    width: 30px;
}

.input_oFA,
.input_oFEx {
    width: 30px;
    position: relative;
    padding: none;
    float: left;
    left: 300px;
    height: 20%;

}

.a_label {
    font-size: 1.1rem;
    position: relative;
    float: left;
    right: 90px;
}

.input_weight {
    width: 63px;
    position: absolute;
    float: right;
    height: 70%;
    left: 475px;
}

.infoLabel {
    text-align: center;
    width: 100%;
    padding-left: 0;
}

#info {
    border-radius: 20px;
    padding-bottom: 15px;
    background-color: #d6cbcbd8;
}


.find {
    width: 250px;
}

.cust_assignment {
    font-size: 1.1rem;
    float: left;
    position: relative;
    right: 110px;
}


a {
    text-decoration: none;
    margin: 1%;
    display: inline-block;
}

.hidden {
    display: none;
    visibility: hidden;
    height: 0;

}

.results {
    text-align: center;
    font-size: 2em;
    color: black;
    background-color: rgb(255, 210, 210);
    width: 100%;
}

.animated_results {
    transform: translateY(300%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    animation-delay: 1s;
    /* Delay the animation start for 1 second */
}

/* subtle zoom to attention and then back */
.pop-outin {
    animation: 2s anim-popoutin ease;
    animation-fill-mode: forwards;
}

@keyframes anim-popoutin {
    0% {
        color: rgba(141, 76, 76, 0.973);
        transform: scale(0);
        opacity: 0;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    25% {
        color: rgb(223, 146, 146);
        transform: scale(2);
        opacity: 1;
        text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
    }

    50% {
        color: rgb(255, 200, 200);
        opacity: 1;
        text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        color: rgb(255, 255, 255);
        transform: scale(2);
        opacity: 1;
        text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
    }
}

.show {
    /* CSS properties for the visible state */
    opacity: 1;
    transform: translateX(0);
    margin-top: -2%;
}

.show_comparison {
    /* CSS properties for the visible state */
    opacity: 1;
    transform: translateX(0);
}

.custom_results {
    margin-top: 1.5%;
    text-align: center;
    font-size: 2em;
    color: black;
    background-color: rgba(255, 210, 210, 0.9);
    width: 100%;
}

.button[type="submit"] {
    margin-top: 3%;
    font-size: 1.5rem;
    background-color: #00000071;
    color: white;

    width: 40%;
    font-family: Leelawadee, "Lucida Sans", sans-serif;
    cursor: pointer;
    border-radius: 10px;
    border: #362821 2px solid;
}

.button[type="reset"] {
    margin-top: 3%;
    font-size: 1.5rem;
    background-color: rgba(245, 245, 245, 0.493);
    width: 40%;
    font-family: Leelawadee, "Lucida Sans", sans-serif;
    cursor: pointer;
    border-radius: 10px;
    border: #362821 2px solid;
}


.button[type="reset"]:hover {
    background-color: rgba(80, 80, 80, 0.493);
    color: white;
}

.button[type="submit"]:hover {
    background-color: rgba(80, 80, 80, 0.493);
    color: black;
}

input[type="reset"] {
    margin-left: 2%;
}

input[placeholder="enter a number"] {
    font-size: 0.8rem;
}



@media only screen and (max-width: 1800px) {

    #omg1,
    #omg2 {
        display: none;
    }

    p,
    form,
    label {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        background-size: 120%;
        background-repeat: no-repeat;

    }

}


@media only screen and (max-width: 1000px) {

    #omg1,
    #omg2 {
        display: none;
        visibility: hidden;
    }

    body {
        background-size: 150%;
        background-repeat: no-repeat;

    }

}

@media only screen and (max-width: 800px) {

    #omg1,
    #omg2 {
        display: none;
        visibility: hidden;
    }

    body {
        background-size: 180%;
        background-repeat: no-repeat;

    }

    #description {
        margin-top: -5%;
    }



}

@media only screen and (max-width: 672px) {

    #omg1,
    #omg2 {
        display: none;
        visibility: hidden;
    }

    #description {
        display: none;
    }

    p,
    form,
    label {
        font-size: 1rem;
    }

    .homeButton {
        padding: 4px 4px;
    }

    body {
        background-size: 250%;
        background-repeat: space;
        overflow: auto;

    }
}

@media only screen and (max-width: 480) {

    .home,
    .homeButton {
        width: 100%;

    }

    #omg1,
    #omg2 {
        display: none;
        visibility: hidden;
    }


    body {
        background-size: 350%;
        background-repeat: space;
        overflow: auto;
    }
}